<script>
const numberKeys = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0];

export default {
  data() {
    return {
      lastNumber: "",
      currentNumberArray: [],
      numberKeys,
      operator: "",
      resultArray: []
    };
  },
  computed: {
    currentNumberStr() {
      return this.currentNumberArray.join("");
    },

    resultNumberStr() {
      return this.resultArray.join("");
    },
  },

  methods: {
    pushNumber(numberStr) {
      this.currentNumberArray.push(numberStr);
    },
    operation() {
      this.lastNumber = this.currentNumberStr;
      this.currentNumberArray = [];
    },
    addNumber() {
      this.operator = "+";
    },
    subtractNumber() {
      this.operator = "-";
    },
    multiplyNumber() {
      this.operator = "*";
    },
    divideNumber() {
      this.operator = "/";
    },

    showResult() {
      switch (this.operator) {
        case "+":
          var result =
              parseInt(this.lastNumber) + parseInt(this.currentNumberStr);
          this.resultArray = [...String(result)];
          break;
        case "-":
          var result =
              parseInt(this.lastNumber) - parseInt(this.currentNumberStr);
          this.resultArray = [...String(result)];
          break;
        case "*":
          var result =
              parseInt(this.lastNumber) * parseInt(this.currentNumberStr);
          this.resultArray = [...String(result)];
          break;
        case "/":
          var result =
              parseInt(this.lastNumber) / parseInt(this.currentNumberStr);
          this.resultArray = [...String(result)];
          break;
        default:
          console.log("Testing");
          break;
      }
    },

    AC() {
      this.lastNumber = "";
      this.currentNumberArray = [];
      this.resultArray = [];
    },
  },
};
</script>

<template>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-nav text-4xl text-center my-12 py-2 border-y-2 border-slate-700">Super Calculator App</h1>
    <div class="flex m-4 justify-evenly items-center">
      <div class="mx-8 text-center">
        <h2 class="font-nav m-2">Last Number</h2>
        <span>{{ lastNumber }}</span>
      </div>
      <h2> {{this.operator}}</h2>
      <div class="mx-8 text-center">
        <h2 class="font-nav m-2">Current Number</h2>
        <span>{{ currentNumberStr }}</span>
      </div>
    </div>

    <h2 class="font-nav m-2">Result</h2>
    <span>{{ resultNumberStr }}</span>

    <br />
    <div class="grid grid-cols-5">
      <button v-for="nkey in numberKeys" @click="pushNumber(nkey)"  :key="nkey" id="nkey">
        {{ nkey }}
      </button>
    </div>

    <!-- v-on:click = @click -->
    <div class="flex">
    <button @click="addNumber(); operation();"> + </button>
    <button @click="subtractNumber(); operation();"> - </button>
    <button @click="multiplyNumber(); operation();">x</button>
    <button @click="divideNumber(); operation();"> / </button>
    </div>
    <div>
    <button @click="showResult">ShowResult</button>
     <button @click="AC">AC</button>
    </div>
  </div>
</template>



<style>


#nkey {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 1em;
  color: rgb(77, 77, 80);
  background-color: khaki;
  border-color: grey;
}

#nkey:hover {
  background-color: yellow;
}
</style>