<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState(['guesser']),
  },

  methods: {
    ...mapActions(['getDeck', 'setNextGuess', 'drawCard']),
  },
};
</script>

<template>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-nav text-4xl text-center my-12 py-2 border-y-2 border-slate-700">The great guesser game!</h1>
    <div class="flex justify-center">
      <button  @click="getDeck">Get a new deck</button>
    </div>

    <div class="flex flex-col justify-center items-center" v-if="guesser.deckId">
      <div class="flex justify-center">
        <button @click="setNextGuess('red')">Guess red</button>
        <button @click="setNextGuess('black')">Guess black</button>
      </div>
      <button v-if="guesser.nextGuess" @click="drawCard">Draw a card</button>
      <div class="flex justify-evenly grow text-center rounded p-0.5 bg-neutral-100 border-neutral-700 border-2">
        <div class=" my-2 mx-8">
      <h1 class="font-nav">Guesses: </h1>
          <h2>{{ guesser.guesses }}</h2>
        </div>
        <div class=" my-2 mx-8">
      <h1 class="font-nav">Points:</h1>
          <h2>{{ guesser.points }}</h2>
        </div>
        <div class=" my-2 mx-8">
      <h1 class="font-nav">Your next guess is:</h1>
          <h2>{{ guesser.nextGuess }}</h2>
        </div>
      </div>

      <div class="text-center font-nav" v-for="(card, index) in guesser.currentCard" :key="index">
        {{ card.value }} of {{ card.symbol }}
        <br>
        <img :src="card.image" :alt="card.value" />
      </div>
    </div>
    <div class="text-2xl" v-else>Please draw a new deck!</div>
  </div>
</template>

<style>
img {
  width: 100px;
}
</style>
