<template>
  <div class="flex flex-col justify-center items-center text-center">
    <h1 class="font-nav text-4xl  my-12 py-2 border-y-2 border-slate-700">Final project for Advanced Topics of JS</h1>

      <p class="px-2 py-2 m-4 bg-neutral-100/50 border-2 border-neutral-700 rounded ">
        Hi, my name is Alina!
        <br/>
        On this page you'll find my final project for my university class.
        <br/>
        I made these pages using Vue, javascript and Tailwind.css  :)

      </p>
  </div>
</template>
