<script>
import Pokeman from '@/components/Pokeman.vue';

export default {
  components: {
    Pokeman,
  },

  data() {
    return {
      list: [],
    };
  },

  async mounted() {
    const localData = localStorage.getItem('pokemon');

    if (localData) {
      console.log('from storage');
      return (this.list = JSON.parse(localData));
    }

    const url = 'https://pokeapi.co/api/v2/pokemon?limit=151';

    const data = await fetch(url);
    const pokemon = await data.json();

    localStorage.setItem('pokemon', JSON.stringify(pokemon.results));

    console.log('from fetch');
    this.list = pokemon.results;
  },
};
</script>

<template>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-nav text-4xl text-center my-12 py-2 border-y-2 border-slate-700">Pokedex</h1>
    <div class="flex flex-wrap justify-center">
    <Pokeman class="m-8"
      v-for="(item, index) in list"
      :key="index"
      :name="item.name"
      :index="index"
    />
    </div>
  </div>
</template>
