<script>

import {
  getCardAPI,
  getDeckAPI
} from "@/lib/game";


export default {
 data(){
  return{
      deckId: undefined,
      deckCounter: 0,
      currentCards: [],
      currentShownCards: [],
      player1: "Player 1",
      player2: "Player 2",
      player1Points: 0,
      player2Points: 0,
      slapValid: false,
      winner: undefined,
      currentValues: [],
      uniqueValues: undefined,
    }
 },
  methods : {

  async getDeck() {
      const result = await fetch(getDeckAPI()).then((r) => r.json());
      this.deckId = result.deck_id;
      //reset the winner
      this.winner = undefined
    },

    async getCard() {
      this.deckCounter++;
      //call game over if the deck has been used up
      if(this.deckCounter === 52){
        this.gameOver()}

      //get a card from the deck using the API
      const { cards } = await fetch(getCardAPI(this.deckId)).then((r) =>
          r.json());
      const card = cards[0]
      this.currentCards.push(card)
      this.currentShownCards.push(card)

      //only show the top three cards
      if(this.currentShownCards.length > 3){
        this.currentShownCards.shift()}
    },

    slap(playerNo) {
      //check if the slap is valid
      this.slapCheck()
      if(this.slapValid) {
        //update player points and empty card arrays
        if (playerNo === 1) {
          this.player1Points = this.player1Points + this.currentCards.length
        } else {
          this.player2Points = this.player2Points + this.currentCards.length
        }
        this.currentCards = []
        this.currentShownCards = []
        this.slapValid = false
      }
      else{
        if (playerNo === 1) {
          this.player1Points--
        } else {
          this.player2Points--
        }
      }
    },

    //checks if the slap is valid
    slapCheck(){
      this.getValues()
      // if one of the cards is 10
      if(this.currentShownCards.some(e => e.value === "10" )) {
        this.slapValid = true
      }
      //check if there are duplicate cards
      if (this.currentValues.length > this.uniqueValues.length){
        this.slapValid = true
      }
      //reset currentValues array
      this.currentValues = []
    },

    //get the values of the currently displayed cards
    //create Array with unique values
    getValues(){
      this.currentShownCards.forEach(i => this.currentValues.push(i.value))
      //array.from transforms iterated set values to an array
      //Set iterates through the elements and finds all the unique values
      this.uniqueValues = Array.from(new Set(this.currentValues))
    },

    gameOver() {
      if(this. player1Points === this.player2Points){
        this.winner = "tie"
      }
      if(this.player1Points > this.player2Points){
        this.winner = this.player1}
      else{
        this.winner = this.player2}
    },

    keyEvents(e){
      console.log(`${e.code}`)
      e.preventDefault()
      if(e.code === "KeyS"){this.slap(1)}
      if(e.code === "KeyK"){this.slap(2)}
      if(e.code === "Space"){this.getCard()}
    },
 },
  //add listener upon mounting the component, remove once unmounted
  mounted() {
    document.addEventListener("keydown", this.keyEvents)
  },
  unmounted() {
   document.removeEventListener('keydown', this.keyEvents)
  }
}
</script>

<template>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-nav text-4xl text-center my-12 py-2 border-y-2 border-slate-700">Slappy game</h1>

    <div class="flex flex-col justify-center items-center" v-if="deckId === undefined">
      <div class="text-center">
        <h2 class="font-nav"> About Slappy</h2>
        <p class="px-2 py-2 m-4 bg-neutral-100/50 border-2 border-neutral-700 rounded ">
          This a very simplified multiplayer version of the game we like to call Slappy.
            Your goal is to have the whole deck of cards in your hand.
            You can get cards by slapping on the deck. Read the rules below for more and enjoy!</p>
      <h2 class="font-nav"> How to play:</h2>
        <ul class="px-2 py-2 m-4 bg-neutral-100/50 border-2 border-neutral-700 rounded ">
          <li> Collect more cards then your opponent!</li>
          <li> Slap with designated key to collect cards.</li>
          <li> Slap if any of the three visible cards is a 10.</li>
          <li> Slap if any two of the three visible cards are the same.</li>
          <li> If you slap incorrectly, you lose points.</li>
        </ul>
      </div>

      <button @click="getDeck">Start game</button>
    </div>

    <div v-if="deckId" class=" flex flex-col justify-center items-center">
      <h1 class="text-center font-nav text-2xl underline"> Cards</h1>

      <div class="flex justify-evenly items-center space-x-4 m-6 text-sm font-medium">
        <div v-for="(card, index) in this.currentShownCards" :key="index">
          <img :src="card.image" :alt="card.value" />
        </div>
        <img v-if="currentCards.length > 3" alt="Previous cards" src="../assets/deck.png">
        <p class="font-nav" v-if="currentCards.length > 3"> X {{this.currentCards.length - 3}}</p>
      </div>
      <h2 class="font-nav"> Press Space to get a card</h2>

        <div class="flex justify-evenly grow text-center">
          <div class="m-8 border-2 border-neutral-700 p-4 bg-neutral-100/50 rounded">
            <label>Name:</label>
            <h2> {{ player1 }}</h2>
            <label>Points:</label>
            <h2> {{ player1Points }}</h2>
            <p> Press S to slap</p>
          </div>

          <div class="m-8 border-2 border-neutral-700 p-4 bg-neutral-100/50 rounded">
            <label>Name:</label>
            <h2> {{player2}}</h2>
            <label>Points:</label>
            <h2> {{ player2Points }}</h2>
            <p> Press K to slap</p>
          </div>
        </div>


      <h1 v-if="winner"> The winner is {{winner}} </h1>
    </div>
  </div>
</template>