<template>
  <div class="transition-all duration-1000 flex-col justify-center drop-shadow-lg hover:drop-shadow-2xl text-center hover:text-lg" >
    <img class="transition-all duration-1000 bg-neutral-100 grayscale rounded-full hover:grayscale-0"
         :src="imgString" alt="" />
    <h2>{{ name }}</h2>
  </div>
</template>

<script>
export default {
  name: 'Pokeman',

  props: {
    name: String,
    index: Number,
  },

  computed: {
    imgString() {
      return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${
        this.index + 1
      }.png`;
    },
  },
};
</script>

<style></style>
