/*body*/
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
/*body*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button{

    background: rgba(255, 247, 237, 0.5);
    border-width: 2px;
    border-color: #404040;
    color: #404040;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 4px;
}

button:hover{
    background: rgba(251, 113, 133, 0.2);
    transition-duration: 500ms;
    border-radius: 8px;
}

label{
    font-family: nav;
    font-size: small;
}